.goolge-ads-horizontal {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.google-ads-vertical {
  margin-top: 200px;
}


@media screen and (max-width: 800px) {
  .google-ads-vertical {
    display: none;
  }
}
